@font-face {
  font-family: 'Work Sans Thin';
  src: url('front/assets/fonts/static/WorkSans-Thin.ttf');
}
@font-face {
  font-family: 'Work Sans Light';
  src: url('front/assets/fonts/static/WorkSans-Light.ttf');
}
@font-face {
  font-family: 'Work Sans Regular';
  src: url('front/assets/fonts/static/worksans-regular.woff2');
}
@font-face {
  font-family: 'Work Sans Bold';
  src: url('front/assets/fonts/static/worksans-semibold.woff2');
}
